/***General */
/* --------------------------------------------------
GLOBAL
---------------------------------------------------
Auteur : Arthur Jenck
Date : 24/03/2024
Version : 1.0.3
Site de l'auteur : https://arthurjenck.com */

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --accent-bg-color: #D9D9D9;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.mobile-only {
    display: none;
}

/* Class noselect empêchant l'utilisateur de sélectionner certains éléments de l'UI, pour rendre le site plus pro */
.noselect {
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;

}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.neutral-star {
    color: var(--main-bg-color)
}

.filters-btn-wrap, .euro, .card-title, .search-bar, .search-submit-btn, .filters-form label, .filters-btn-wrap, .hebergements-showmore {
    font-weight: 700;
}

/*** Header */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: calc(79rem/16);
}

header .logo {
    align-self: center;
}

header .logo img {
    width: calc(61.09rem/16);
    height: calc(19rem/16);
}

.nav-list {
    display: flex;
    list-style-type: none;
    gap: calc(70rem/16)
}

/* Attention ici à la taille du lien pour la zone clickable */
.nav-link {
    display: block;
    padding-top: 1.25rem;
    position: relative;
}

.nav-link:hover {
    color: var(--main-color);
}

/* Bonne pratique : pas de transition all, et on met la propriété sur l'élément standard et non lors de l'activation de la pseudo-class */
.nav-link::before {
    content: "";
    display: block;
    background-color: var(--main-color);
    width: 0%;
    height: 2px;
    position: absolute;
    top: 0px;
    left: 50%;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.nav-link:hover::before {
    width: 100%;
    left: 0;
}

/*** Main */
h1 {
    font-size: calc(22rem / 16);
    margin: 0 0 0.5rem 0;
}

/*** Search */
.search-form {
    padding: calc(35rem / 16) 0;
    display: flex;
    align-items: center;
}

.search-form label {
    background-color: var(--main-bg-color);
    padding: 1rem;
    border-radius: 15px 0 0 15px;
    cursor: pointer;
}

.search-form label i {
    color: #000;
}

/* Padding pour que le texte ne soit pas collé aux parois de l'input, aspect plus pro */
.search-bar {
    border: var(--main-bg-color) 1px solid;
    border-right: none;
    text-align: center;
    align-self: stretch;
    padding: 0 1rem;
}

.search-bar::placeholder {
    color: #000;
}

/* Obligé de répéter dans une nouvelle déclaration pour Firefox (séparer les pseudo-class par une virgule échouait) */
.search-bar::-moz-placeholder {
    opacity: 1;
}


.search-bar:focus {
    outline: none;
}

.search-bar:focus::placeholder {
    color: transparent;
}

.search-submit-btn {
    background-color: var(--main-color);
    align-self: stretch;
    border-radius: 0 15px 15px 0;
    color: #fff;
    display: flex;
    position: relative;
}

/* Cursor en pointer pour montrer à l'utilisateur que le bouton est clickable */
.search-submit-input {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.search-submit-btn-text {
    padding: 1rem;
}

/***** Filters */
.filters-form {
    display: flex;
    gap: 15px;
    align-items: center;
}

.filters-wrapper {
    display: flex;
    gap: 15px;
}

/* Le white-space en nowrap permet d'éviter que le texte en plusieurs mots passent à la ligne quand la largeur se fait trop courte */
.filters-btn-wrap {
    position: relative;
    border: 2px var(--accent-bg-color) solid;
    border-radius: 25px;
    padding: 1rem calc(19rem / 16);
    background-color: #fff;
    display: flex;
    gap: calc(10rem / 16);
    white-space: nowrap;
    transition: background-color 0.075s ease-in-out;
}

/* Cursor en pointer là encore */
.filters-btn-check {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}


/* Proposition de design des filtres (demande client juste en-dessous). Design en checked bien plus facile à faire en Javascript, mais possible aussi en CSS car aux opérateurs */
.filters-btn-wrap:hover {
    background-color: #DEEBFF;
}

.filters-btn-wrap:has(> .filters-btn-check:checked) {
    background-color: var(--main-color);
    color: #fff;
    border: var(--main-color) 2px solid;
}

.filters-btn-wrap:has(> .filters-btn-check:checked) i {
    color: #fff;
}

/* Comportement standard suivant la maquette (dé-commenter les propriétés ci-dessous puis commenter la partie supérieure) */
/* .filters-btn-wrap:hover, .filters-btn-wrap:has(> .filters-btn-check:checked) {
    background-color: #DEEBFF;
} */

/*** Info number of lodgings */
.info-num-lodgings {
    margin-top: calc(35rem / 16);
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-num-lodgings i {
    border: solid 1px var(--accent-bg-color);
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 10px;
}

/*** Hebergements And Populaires */
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    margin-top: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/*** Hebergements */
.hebergements {
    width: 65%;
}

/* Entièrement possible de rester sur une flexbox, mais pour le fonctionnement des filtres par la suite le display: grid est plus adapté */
.hebergements-cards {
    margin-top: 30px;
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    gap: 30px;
}

.hebergements a {
    width: auto;
}

.hebergements-cards img {
    height: 124px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0 0;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 4px;
    gap: 0.5rem;
}

.card-content i {
    font-size: calc(13.25rem / 16);
}

.hebergements-showmore {
    border: none;
    background-color: transparent;
    font-size: 18px;
    margin: 30px 0 2.5px 0;
    cursor: pointer;
}

/*** Populaires */
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: calc(100% - 30px);
    gap: 30px;
    padding-top: 30px;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards .card:first-child {
    margin-top: 0;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

/*** Activites */
.activites {
    margin-top: 35px;
    padding: 30px;
}

.activites-wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
}

.activites-wrapper a {
    width: 100%;
}

.activites-card {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.activites-card img {
    height: calc(439rem/16);
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.activites-name {
    padding: 20px 19px;
    font-size: 1rem;
}

/*** Footer */
footer {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    background-color: var(--main-bg-color);
}

.footer-section {
    padding: 20px;
    display: flex;
    flex-flow: column;
    gap: 15px;
    width: 33%;
}

.footer-title {
    font-size: 18px;
}

.footer-list {
    list-style-type: none;
    display: flex;
    flex-flow: column;
    gap: 15px;
}

/* Optionnel, proposition de design */
.footer-list a:hover {
    color: var(--main-color);
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/*** Media queries */
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements .card-title {
        white-space: nowrap;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-card img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    /*** General */
    .mobile-only {
        display: block;
    }

    .desk-only {
        display: none;
    }

    /*** Main container padding */
    .main-container {
        padding: 0;
    }

    /*** Header */
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .logo {
        margin-top: calc(30rem / 16);
    }

    nav {
        width: 100%;
    }

    .nav-list {
        width: 100%;
        gap: 0;
    }

    .nav-elem {
        width: 100%;
    }

    .nav-link {
        padding: 0 0 1rem 0;
        margin-top: calc(30rem / 16);
        height: auto;
        display: flex;
        justify-content: center;
    }

    .nav-link::before {
        bottom: 0;
        top: auto;
        /* left: 0; */
    }

    /*** Main */
    main {
        margin-top: calc(30rem / 16);
    }

    h1, .h1-subtitle, .search-form, .filters-form, .info-num-lodgings {
        margin: 0 calc(20rem / 16);
    }

    h1 {
        margin-bottom: 0.5rem;
    }

    /*** Search bar */

    .search-bar {
        width: 100%;
    }

    .search-submit-btn {
        border-radius: 15px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .search-submit-btn-text {
        color: #fff;
    }

    /*** Filtres */
    .filters-form {
        flex-direction: column;
    }

    .filters-wrapper {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }

    .filters-btn-wrap {
        align-items: center;
        width: 47%;
    }

    .filters-btn-wrap:hover {
        background-color: #fff;
    }

    /*** Infos nombre de logements */
    .info-num-lodgings {
        margin-top: calc(35rem / 16);
    }

    .info-num-lodgings i {
        flex: 0 0 auto;
    }

    /*** Hébergements et populaires */
    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .populaires-cards {
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires .card {
        margin-top: 0;
    }

    .hebergements-and-populaires section.hebergements {
        order: 1;
        background-color: #fff;
        padding-top: 35px;
    }

    .hebergements-cards {
        grid-template: auto / 1fr;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .hebergements-showmore {
        margin-top: 15px;
    }

    /*** Activités */
    .activites {
        margin-top: 25px;
    }

    .activites-wrapper {
        flex-flow: column wrap;
    }

    /*** Footer */
    footer {
        flex-direction: column;
        align-items: flex-start;
        padding: calc(30rem / 16);
        gap: calc(50rem / 16);
    }

    .footer-section {
        padding: 0;
        width: 100%;
    }
}

@media (max-width: 374px) {
    .filters-btn-wrap {
        font-size: 0.8rem;
    }
}